.form{
  &-input{
    margin: 2em 0;
    position: relative;
    font-size: 1rem;
    $this: &;
    label{
      margin-top: 0.5em;
      display: block;
    }
    input{
      width: 100%;
      padding: 0.5em 1em 0.5em 0;
      display: block;
      border: 0;
      border-bottom: 1px solid $color-primary;
      color: $color-primary;
      outline: none;
      &:focus{
        border-bottom-color: $color-secondary;
      }
    }
    &__message{
      color: red;
      position: absolute;
      bottom: -15px;
      margin: 0;
      font-size: 0.7em;
    }
    &--error{
      input{
        border-bottom-color: red;
        color: red;
      }
      #{$this}__message{
        display: block;
      }
    }
  }
}