.user{
  &-profile{
    p{
      margin: 0;
    }
  }
  &__profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin: auto;
    display: block;
  }
  &__stats{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
  }
  &__stat{
    border-right: 1px solid black;
    text-align: center;
    //padding: 0.5em 1em;
    font-size: 0.8rem;
    width: 33.33%;
    &:last-child{
      border-right: 0;
    }
    p:last-child{
      text-transform: uppercase;
      color: grey;
      font-size: 0.7em;
    }
  }
  &__username{

  }
}