.button{
  background: snow;
  padding: 0.5em 2em;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  &:hover{

  }
  &--small{
    font-size: 0.6em;
  }
  &--full-width{
    width: 100%;
  }
}