
// CREEPY colors
$creepyRed: #e92d53;
$creepyBlue: #0E1027;


// media breakpoints
$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;
$XXL: 1500px;
$XXXL: 1920px;

// TODO create generating on container variables and mixins

$breakpointsNames: sm md lg xl xxl;
$containerWiths: 540px 720px 960px 1140px 1440px;


// container widths
$container-sm-width: 540px;
$container-md-width: 720px;
$container-lg-width: 960px;
$container-xl-width: 1140px;
$container-xxl-width: 1440px;
$container-xxxl-width: 1440px;



// container paddings
$container-sm-padding: calc((100vw - #{$container-sm-width} - 15px) / 2);
$container-md-padding: calc((100vw - #{$container-md-width} - 15px) / 2);
$container-lg-padding: calc((100vw - #{$container-lg-width} - 15px) / 2);
$container-xl-padding: calc((100vw - #{$container-xl-width} - 15px) / 2);
$container-xxl-padding: calc((100vw - #{$container-xxl-width} - 15px) / 2);



// user defined variables
$form-width: 400px;
