.registration{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  &__content{
    width: $form-width;
  }
  form{
    margin: auto;
  }
  input{
    width: 100%;
  }

}